
body.admin-menu #admin-menu {
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#block-menu-block-1 ul.menu {
  float: left;
}
#block-menu-block-1 ul.menu li.leaf {
  list-style: none;
  padding-right: 15px;
  float: left;
}

*:focus {
  outline: 0;
}

body.page-admin select#edit-bundle-application-field-application-designations-und {
  height: 250px;
}