# Ignore configuration files that may contain sensitive information.
# sites/*/settings*.php
sites/*/local.settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore compiled migration products
sites/all/modules/custom/pgh_migrate/sample/compiled/*