// IE 7 hacks

html.lt-ie9.lt-ie8 {

  // misc
  .ie-clear-fix {
    clear: both;
  }

  .ajax-progress {
    @include ie7-inline-block();
  }

  textarea {
    padding: inherit;
  }

  // type
  h1#page-title {
    padding-bottom: 1em;
  }

  // header
  #header {
    height: 1%;
  }

  #breadcrumb-wrap {

    #breadcrumb-wrap-inner {
      font-size: 0;
      line-height: 0;
    }
  }

  // drupal tabs
  .tabs-primary,
  .tabs-secondary {
    border-bottom: 1px solid #bbb;
  }

  .tabs-primary__tab,
  a.tabs-primary__tab-link {
    margin-bottom: -1px;
  }

  // dashboard
  .page-dashboard {

    h2 {
      margin-bottom: 0;
    }
  }

  // dashboard-business unit
  #business-unit {

    .business-unit-block {

      a.toggle {
        background: url(../images/global/blank.png) 0 0 repeat;
      }

      &.bu-closed {

        .info-block {
          min-height: 120px;
        }
      }
    }

    .applications {

      table {

        th {
          border-left: 1px solid #a2d6c9;
        }
      }
    }
  }

}