// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// IE7 inline-block
@mixin ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

// opacity mixin
@mixin opacity($opacity) {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
    filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  }
  opacity: $opacity;
}

// Gradient
// scss - @include gradient(#top_color, #bottom_color);
@mixin gradient($from, $to) { //vertical
	background-color: $from;
	background-image: -moz-linear-gradient(top, $from, $to); // FF 3.6+
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to)); // Safari 4+, Chrome 2+
	background-image: -webkit-linear-gradient(top, $from, $to); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient(top, $from, $to); // Opera 11.10
	background-image: linear-gradient(to bottom, $from, $to); // Standard, IE10
	background-repeat: repeat-x;
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=0); // IE9 and down
}

@mixin gradient_h($from, $to) { //horizontal
	background-color: $from;
	background-image: -moz-linear-gradient(left, $from, $to); // FF 3.6+
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($from), to($to)); // Safari 4+, Chrome 2+
	background-image: -webkit-linear-gradient(left, $from, $to); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient(left, $from, $to); // Opera 11.10
	background-image: linear-gradient(to right, $from, $to); // Standard, IE10
	background-repeat: repeat-y;
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); // IE9 and down
}