/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {

  table {
    border-right: none !important;
    border-left: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;

    /* Don't underline header. */
    &.header__site-link {
      text-decoration: none !important;
    }
  }

  #content {
    // /* Add visible URL after links. */
    // a[href]:after {
    //   content: " (" attr(href) ")";
    //   font-weight: normal;
    //   font-size: $base-font-size;
    // }
    //
    // /* Only display useful links. */
    // a[href^="javascript:"]:after,
    // a[href^="#"]:after {
    //   content: "";
    // }
    //
    // /* Add visible title after abbreviations. */
    // abbr[title]:after {
    //   content: " (" attr(title) ")";
    // }
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content,
  #footer-wrap {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  #header {

    a#logo {
      text-indent: 0 !important;
      background-image: none;
    }
  }

  #footer-wrap {
    border-top: 1px solid #ccc;
  }

  .page-application {

    #review-submit-wrap {
      border-top: 1px solid #ededed;

      .bu-info,
      .cat-progress {
        border-right: none !important;
      }
    }

    #sponsor-wrap {
      border-top: 1px solid #e4e4e4;
    }

    &.page-application-category {

      h1#page-title {
        padding-left: 0 !important;

        span {
          visibility: hidden;
          display: none;
        }
      }
    }

    form {

      .media-widget a.button,
      input.form-submit {
        background-image: none !important;
      }

      .question-container table td {
        font-size: 12px;

        .question-number {
          font-size: 12px;
        }
      }
    }
  }

  a.glossify-link {
    padding-right: 0 !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  // application
  #block-pgh-user-info-pgh-user-info,
  .sticky-wrapper,
  a.review-btn,
  .bar-container,
  .grippie,
  .print-page,
  .back-top
  {
    visibility: hidden;
    display: none;
  }
}

#footer-wrap {
    color: #000;
}