// !---------------------------- */
// !-- Body -------------------- */
// !---------------------------- */

body {
  color: $gray;
  background-color: $green;
}

// !---------------------------- */
// !-- Typography -------------- */
// !---------------------------- */

h1 {
  color: $green;
  font-family: $cabin;
  font-size: 1.4em;
  font-weight: normal;
}

h2 {
  color: $green;
  font-family: $cabin;
  font-size: 1.2em;
  font-weight: normal;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
}

// !---------------------------- */
// !-- Header ------------------ */
// !---------------------------- */

#header-wrap {

  #header-wrap-inner {}
}

#header {
  padding: 18px 0;

  a#logo {
    text-indent: -1000000px;
    background: transparent url(../images/global/pgh-awards-logo.png) no-repeat 0 0;
    display: block;
    margin-left: 10px;
    width: 197px;
    height: 108px;
  }

  #name-and-slogan {
    color: $white;
    font-family: $cabin;
    font-size: 1.05em;
    padding: 43px 0 0 30px;
  }
}


// !---------------------------- */
// !-- Breadcrumbs ------------- */
// !---------------------------- */

#breadcrumb-wrap {
  background-color: $greenDark;
  border-top: 1px solid #00543f;

  #breadcrumb-wrap-inner {}

  ol {
    color: #c5e5dd;
    font-size: 12px;
    line-height: 55px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);

    li {

      a {
        color: $greenLight;
        text-decoration: none;
        background: transparent url(../images/global/crumb-arrow.png) no-repeat right center;
        padding-right: 32px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.page-application {

  #breadcrumb-wrap {
    background-color: $white;
    border-top: 1px solid #ededed;

    ol {
      color: #c3c3c3;
      text-shadow: none;

      li {

        a {
          color: #acacac;
          background-image: url(../images/global/crumb-arrow-app.png);
        }
      }
    }
  }
}


// !---------------------------- */
// !-- Main -------------------- */
// !---------------------------- */

#main-wrap {
  background-color: $white;

  #main-wrap-inner {}
}

#main {
  padding: 2em 0 3em;
}


// !---------------------------- */
// !-- Content ----------------- */
// !---------------------------- */

#content {}

#main-content {}


// !---------------------------- */
// !-- Footer ------------------ */
// !---------------------------- */

#footer-wrap {
  padding: 1em 0 6em;

  #footer-wrap-inner {}

  p {
    color: $greenLight;
    text-align: center;
    font-size: 0.7em;
  }
}


// !------------------------------ */
// !-- Dashboard ---------------- */
// !------------------------------ */

.page-dashboard {

  #drupal-messages {
    background-color: $white;

    #drupal-messages-inner {
      margin: 0 auto;
      width: 960px;
      @include clearfix;
    }
  }

  h1 {
    line-height: 1em;
  }

  h2 {
    line-height: 1em;
    margin-top: 0;
  }

  .dashboard-label {
    color: $orange;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .edit-content a {
    color: $green;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #67a697;
    @include border-radius(2px);
    padding: 5px 14px 3px;
    float: right;

    &:hover {
      color: $white;
      background-color: $green;
      border-color: $green;
    }
  }

  #block-pgh-user-info-pgh-user-info {

    .user-links .dashboard-user a {
      background-color: #67a697;
    }
  }

  #main {
    min-height: 270px;
  }
}


// !-- Work Group - dashboard

#workgroup-wrap {
  background-color: $white;

  #workgroup-wrap-inner {}
}

#workgroup {

  #workgroup-content {
    min-height: 170px;
  }
}


// !-- Business unit - dashboard

#business-unit-wrap {
  background-color: $grayLight;
  border-top: 1px solid #eee;

  #business-unit-wrap-inner {}
}

#business-unit { // block

  .business-unit-block {
    background-color: $white;
    @include border-radius(2px);
    @include box-shadow(0 0 4px rgba(0,0,0,0.05));
    margin: 30px 0;
    padding: 5px 20px 5px 42px;
    @include clearfix;
    overflow: hidden;
    @include transition(height 0.3s ease-out);
    position: relative;
    z-index: 1;

    .edit-content a {
      @include opacity(1);
      @include transition(opacity 0.3s ease-out);
    }

    .toggle {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;

      span {
        text-indent: -1000000px;
        background: transparent url(../images/global/icon-toggle.png) no-repeat;
        @include border-radius(2px);
        margin: 34px 0 0 10px;
        width: 24px;
        height: 24px;
        float: left;
      }
    }

    .info-block {
      @include transition(min-height 0.3s ease-out);
    }

    &.bu-closed {
      height: 170px !important;

      .toggle {
        width: 960px;
        height: 170px;

        span {
          background-position: 8px 7px;
        }

        &:hover span {
          background-color: $orange;
          background-position: -89px 7px;
        }
      }

      .edit-content a {
        @include opacity(0);
      }

      .info-block {
        min-height: 80px;
      }
    }

    &.bu-opened {

      .toggle {
        width: 740px;
        height: 65px;

        span {
          background-position: -16px 7px;
        }

        &:hover span {
          background-color: $orange;
          background-position: -114px 7px;
        }
      }

      .info-block {
        min-height: inherit;
      }
    }
  }
}

#business-unit { // content

  .field-name-field-business-unit-type {
    color: $orange;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .field-name-body {
    width: 740px;
  }

  .node-business-unit {
    padding: 2em 0;

    .add-content a {
      color: $green;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #67a697;
      @include border-radius(2px);
      padding: 5px 14px 3px;

      &:hover {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
    }
  }

  .bu-container-top {
    @include clearfix;
    padding-bottom: 10px
  }

  .bu-container-bottom {
    border-top: 4px solid #dedede;
    padding-bottom: 20px;
    @include clearfix;

    h3 {
      color: $blue;
      font-size: 1.1em;
      line-height: 1.2em;
      margin: 1em 0;
    }

    a.application-archive,
    a.invite-user {
      color: $green;
      font-size: 11px;
      line-height: 14px;
      margin-top: 1.7em;
      float: right;

      &:hover {
        color: $orange;
      }
    }

    a.start-application {
      color: $green;
      font-size: 11px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #67a697;
      @include border-radius(2px);
      display: block;
      padding: 5px 0 3px;
      width: 180px;

      &:hover {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
    }
  }

  .applications {
    border-right: 1px solid #dedede;
    padding-right: 20px;
    width: 607px;
    float: left;

    table {
      border-collapse: separate !important;
      @include border-radius(3px 3px 0 0);
      width: 607px;

      tr {
        background-color: transparent;
        border: none;
      }

      th, td {
        font-size: 0.9em;
        font-family: $arial;
        font-weight: normal;
        padding: 5px 14px;
        vertical-align: bottom;
      }

      th {
        color: $green;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        border: 1px solid #a2d6c9;
        border-left: none;
        padding: 12px;
        @include gradient($white, #f8f8f8);

        &:first-child {
          border-left: 1px solid #a2d6c9;
          @include border-radius(3px 0 0 3px);
        }

        &:last-child {
          @include border-radius(0 3px 3px 0);
        }
      }

      td {
        font-size: 13px;
        list-style: 17px;
        border-right: 1px solid #ededed;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .users {
    border-left: 1px solid #dedede;
    margin-left: -1px;
    padding-left: 20px;
    width: 250px;
    float: left;

    ul {
      padding: 0;

      li {
        list-style: none;
        padding-top: 7px;
        clear: left;
      }

      .user-name {
        font-size: 13px;
        list-style: 17px;
        width: 200px;
        float: left;
      }

      .view-user a {
        color: $green;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #67a697;
        @include border-radius(2px);
        display: block;
        padding: 5px 0 3px;
        width: 48px;
        float: left;

        &:hover {
          color: $white;
          background-color: $green;
          border-color: $green;
        }
      }
    }
  }
}

// !---------------------------- */
// !-- Work Group - ctype ------ */
// !---------------------------- */

.node-type-work-group {

}


// !-------------------------------- */
// !-- Business unit --------------- */
// !-- Content type & dashboard ---- */
// !-------------------------------- */

#business-unit,
.node-type-business-unit {

  .info-block {
    font-size: 0.8em;
    font-weight: bold;

    div {
      display: inline;
    }

    .field-label,
    .field-items {
      float: none;
    }

    .clearfix:after { //override
      clear: none;
      content: none;
      display: inline;
      height: auto;
      visibility: inherit;
    }

    .field-name-field-business-unit-type {
      border-right: 1px solid #d4d4d4;
      margin-right: 8px;
      padding-right: 10px;
    }

    .field-name-field-shipping-city {

      &:after {
        content: ",";
      }
    }

    .field-name-field-shipping-state {}

    .field-name-field-number-beds {
      border-left: 1px solid #d4d4d4;
      margin-left: 8px;
      padding-left: 10px;
    }

    .field-name-field-facility-users {
      text-transform: capitalize;
      border-left: 1px solid #d4d4d4;
      margin-left: 8px;
      padding-left: 10px;
    }
  }

  .billing-address,
  .shipping-address,
  .other-info {
    font-size: 0.9em;
    padding: 1em 0;
    width: 200px;
    float: left;

    p.label {
      color: $blue;
      font-size: 0.8em;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .billing-address {

    .field-name-field-billing-city,
    .field-name-field-billing-state,
    .field-name-field-billing-zipcode {
      display: inline;

      div {
        display: inline;
      }
    }

    .field-name-field-billing-city {

      &:after {
        content: ",";
      }
    }
  }

  .shipping-address {

    .field-name-field-shipping-city,
    .field-name-field-shipping-state,
    .field-name-field-shipping-zipcode {
      display: inline;

      div {
        display: inline;
      }
    }

    .field-name-field-shipping-city {

      &:after {
        content: ",";
      }
    }
  }
}


// !---------------------------- */
// !-- Appication -------------- */
// !---------------------------- */

.page-application { //node

  #header-wrap {
    background-color: $white;
  }

  #header {

    a#logo {
      background-image: url(../images/award-logos/practice-for-change.png);
    }
  }

  #block-pgh-user-info-pgh-user-info { // white header background

    .user-picture-wrap {
      border: none;
    }

    .users-name {
      color: $green;

      a {
        color: $green;
        text-decoration: none;

        &:hover {
          color: $orange;
        }
      }
    }

    .user-links {
      border-color: #67a697;

      a {
        color: $green;

        &:hover {
          color: $white;
          background-color: #67a697;
        }
      }
    }
  }
}

.page-application { //sponsor

  #sponsor-wrap {
    background-color: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;

    #sponsor-wrap-inner {
      padding: 36px 0;
    }
  }

  #sponsor {
    color: #999;
    font-size: 13px;
    line-height: 17px;
  }
}

.page-application { //app menu

  #application-menu-container.stuck {
    width: 100%;
    @include box-shadow(0 1px 7px rgba(0,0,0,0.15));
    position: fixed;
    top: 0;
    z-index: 100;
  }

  &.admin-menu #application-menu-container.stuck {
    top: 28px;
  }

  #application-menu-container.stuck,
  &.admin-menu #application-menu-container.stuck {

    #block-pgh-application-application-category-menu.block ul.selected-item li.cat-menu-opened ul.category-menu {
      top: -3px;
    }
  }

  #app-menu-wrap {
    background-color: $green;

    #app-menu-wrap-inner {}
  }

  #app-menu { //drop-down

    #block-pgh-application-application-category-menu.block {
      margin-bottom: 0;
      padding: 12px 0;

      h2.block__title {
        @include element-invisible;
      }

      ul.selected-item,
      ul.category-menu {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul.selected-item {
        font-size: 24px;
        line-height: 54px;
        font-family: $cabin;
        border: 1px solid #1c7d66;
        @include border-radius(2px);
        margin: 0 auto;
        width: 640px;
        //height: 60px;
        @include box-shadow(0 1px 0 rgba(0,0,0,0.1));

        li {
          color: $white;
          text-align: center;
          background: transparent url(../images/menu-app/app-menu-ddarrow.png) no-repeat;
          cursor: pointer;
          position: relative;
          z-index: 2;

          &.cat-menu-closed {
            background-position: right -3px;

            &:hover {
              background-position: right -122px;
            }

            ul.category-menu {
              //top: -999px;
            }
          }

          &.cat-menu-opened {
            background-position: right -63px;

            &:hover {
              background-position: right -182px;
            }

            ul.category-menu {
              top: -7px;
            }
          }
        }
      }

      ul.category-menu { //drop-down
        font-size: 16px;
        line-height: 37px;
        font-family: $arial;
        @include border-radius(3px);
        @include box-shadow(0 1px 7px rgba(0,0,0,0.3));
        position: absolute;
        top: -999px;
        left: 12px;
        z-index: 1;

        li {
          text-align: left;

          &.first a {
            border-top: 1px solid #e0e0e0;
            @include border-radius(3px 3px 0 0);
          }

          &.last a {
            border-bottom: 1px solid #e0e0e0;
            @include border-radius(0 0 3px 3px);
          }

          a {
            color: $green;
            text-decoration: none;
            background-color: $white;
            background-image: none;
            border-right: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            display: block;
            padding: 0 20px;
            width: 530px;

            &:hover {
              color: $white;
              background-color: darken($green, 5%);
              border-color: darken($green, 5%);
            }

            &.active {
              color: $white;
              background-color: lighten($green, 10%);
              border-color: lighten($green, 10%);
            }
          }
        }
      }

      .prev a,
      .next a {
        text-indent: -1000000px;
        background: transparent url(../images/menu-app/app-menu-prev-next.png) no-repeat;
        width: 70px;
        height: 54px;
      }

      .prev a {
        background-position: 0 0;
        float: left;

        &:hover {
          background-position: 0 -60px;
        }
      }

      .next a {
        background-position: -17px 0;
        float: right;

        &:hover {
          background-position: -17px -60px;
        }
      }

      &.single-item {

        ul.category-menu.single-item {
          margin: 0 auto;
          width: 640px;
          @include box-shadow(none);
          position: static;
          top: auto;
          left: auto;
          z-index: auto;

          li {
            font-size: 24px;
            line-height: 54px;
            text-align: center;

            a,
            a.active {
              background-color: transparent;
              border: none;
              cursor: default;
            }
          }
        }
      }
    }
  }

  #cat-menu-wrap {
    background: #2c2c2c url(../images/menu-app/cat-menu-bg.png) repeat center top;
    border-bottom: 1px solid $black;

    #cat-menu-wrap-inner {}
  }

  #cat-menu { //category icons

    #block-pgh-application-application-category-menu--2.block {
      margin-bottom: 0;

      h2.block__title {
        @include element-invisible;
      }

      ul.category-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        @include clearfix;

        li {
          display: inline;

          // space the icons
          $icon-spacing: 11;

          a {
            text-indent: -1000000px;
            background: transparent url(../images/menu-app/cat-menu-icons.png) no-repeat -#{$icon-spacing + 1064}px -70px;
            width: 56px;
            height: 70px;
            float: left;

            // prefix award type
            @each $awardTypeMenu in pfc, pr, ltc, chcpfc, chcpr {

              &.#{$awardTypeMenu}-leadership { background-position: -#{$icon-spacing}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing}px 0; }
              }

              &.#{$awardTypeMenu}-waste { background-position: -#{$icon-spacing + 76}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 76}px 0; }
              }

              &.#{$awardTypeMenu}-chemicals { background-position: -#{$icon-spacing + 152}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 152}px 0; }
              }

              &.#{$awardTypeMenu}-gor { background-position: -#{$icon-spacing + 228}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 228}px 0; }
              }

              &.#{$awardTypeMenu}-food { background-position: -#{$icon-spacing + 304}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 304}px 0; }
              }

              &.#{$awardTypeMenu}-epp { background-position: -#{$icon-spacing + 380}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 380}px 0; }
              }

              &.#{$awardTypeMenu}-energy { background-position: -#{$icon-spacing + 456}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 456}px 0; }
              }

              &.#{$awardTypeMenu}-water { background-position: -#{$icon-spacing + 532}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 532}px 0; }
              }

              &.#{$awardTypeMenu}-climate { background-position: -#{$icon-spacing + 608}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 608}px 0; }
              }

              &.#{$awardTypeMenu}-greenbuilding { background-position: -#{$icon-spacing + 684}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 684}px 0; }
              }

              &.#{$awardTypeMenu}-goals { background-position: -#{$icon-spacing + 760}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 760}px 0; }
              }

              &.#{$awardTypeMenu}-accuracy { background-position: -#{$icon-spacing + 836}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 836}px 0; }
              }

              &.#{$awardTypeMenu}-appendixa { background-position: -#{$icon-spacing + 912}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 912}px 0; }
              }

              &.#{$awardTypeMenu}-appendixb { background-position: -#{$icon-spacing + 988}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 988}px 0; }
              }

              &.#{$awardTypeMenu}-demogrphic { background-position: -#{$icon-spacing + 1064}px -70px;
                &:hover, &.active { background-position: -#{$icon-spacing + 1064}px 0; }
              }
            }
          }
        }
      }
    }
  }

  h1#page-title {
    padding: 10px 0;
    padding-left: 60px;
    position: relative;
    z-index: 1;

    &.no-category {
      padding-left: 0;
    }

    span {
      color: #666666;
      background: transparent url(../images/menu-app/cat-h1-icons.png) no-repeat -1142px 0;
      display: block;
      width: 48px;
      height: 47px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    // prefix award type
    @each $awardTypeh1 in pfc, pr, ltc, chcpfc, chcpr {

      &.#{$awardTypeh1}-leadership {
        color: #9159a5;
        span { background-position: 0 0; }
      }

      &.#{$awardTypeh1}-waste {
        color: #046c9c;
        span { background-position: -76px 0; }
      }

      &.#{$awardTypeh1}-chemicals {
        color: #8b9237;
        span { background-position: -152px 0; }
      }

      &.#{$awardTypeh1}-gor {
        color: #0f674e;
        span { background-position: -228px 0; }
      }

      &.#{$awardTypeh1}-food {
        color: #f47a21;
        span { background-position: -304px 0; }
      }

      &.#{$awardTypeh1}-epp {
        color: #7f5725;
        span { background-position: -380px 0; }
      }

      &.#{$awardTypeh1}-energy {
        color: #ea4539;
        span { background-position: -456px 0; }
      }

      &.#{$awardTypeh1}-water {
        color: #28a8e0;
        span { background-position: -532px 0; }
      }

      &.#{$awardTypeh1}-climate {
        color: #febb14;
        span { background-position: -609px 0; }
      }

      &.#{$awardTypeh1}-greenbuilding {
        color: #8bc63f;
        span { background-position: -685px 0; }
      }

      &.#{$awardTypeh1}-goals {
        //color: #;
        span { background-position: -761px 0; }
      }

      &.#{$awardTypeh1}-accuracy {
        //color: #;
        span { background-position: -836px 0; }
      }

      &.#{$awardTypeh1}-appendixa {
        //color: #;
        span { background-position: -914px 0; }
      }

      &.#{$awardTypeh1}-appendixb {
        //color: #;
        span { background-position: -990px 0; }
      }

      &.#{$awardTypeh1}-demogrphic {
        //color: #;
        span { background-position: -1066px 0; }
      }
    }
  }
}

.page-application { // !-- form

  form {

    fieldset {
      border: none;
      margin: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .question {
      padding-left: 40px;
    }

    .question-dependent {
      padding-left: 70px;
    }

    .question-number {
      font-weight: bold;
      margin-left: -40px;
      float: left;
    }

    .form-item {
      border-bottom: 1px solid #ededed;
      margin-bottom: 25px;
      padding-bottom: 25px;

      .form-item {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    label {
      font-weight: normal;
      padding-bottom: 0.5em;
    }

    input.form-text {
      border: 1px solid #d3d3d3;
      @include border-radius(2px);
      @include box-shadow(inset 0 0 8px rgba(0,0,0,0.1));
      padding: 7px;
    }

    input.form-submit {
      color: $white;
      font-size: 21px;
      font-family: $cabin;
      font-weight: normal;
      text-align: center;
      background-color: $green;
      border: 1px solid $green;
      @include border-radius(3px);
      @include box-shadow(0 1px 3px rgba(0,0,0,0.3));
      margin: 0 auto;
      padding: 14px 0;
      width: 60%;

      &:hover {
        background-color: $orange;
        border-color: $orange;
        @include box-shadow(inset 0 0 1px rgba(0,0,0,0.1));
      }
    }

    a.button.launcher {
      color: $white;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
      background-color: $green;
      border: 1px solid $green;
      @include border-radius(3px);
      @include box-shadow(0 1px 3px rgba(0,0,0,0.1));
      margin: 0 auto;
      padding: 5px 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:hover {
        background-color: $orange;
        border-color: $orange;
        @include box-shadow(inset 0 0 1px rgba(0,0,0,0.1));
      }
    }

    .content-incorrect {
      color: #bc9906;
      text-shadow: 0 1px #fdfbee;
      font-size: 0.9em;
      line-height: 1.1em;
      background: #faf3d0 url(../images/global/icon-warning-content.png) no-repeat 9px 45%;
      border: 1px solid #f5e9ac;
      @include border-radius(3px);
      margin: 5px 0 1em;
      padding: 9px 9px 9px 32px;
      width: 47%;
    }

    td .content-incorrect {
      background-position: 7px 45%;
      margin: 5px 0 0;
      padding: 5px 5px 5px 32px;
      width: 70%;
    }

    input.input-incorrect {
      color: #bc9906;
      font-weight: bold;
      text-shadow: 0 1px #fdfbee;
      background-color: #faf3d0;
      border-color: #ebc610;
    }

    table {
      border: 1px solid #a2d6c9;
      border-bottom: none;
      border-collapse: separate !important;
      @include border-radius(3px);
      margin-bottom: 2em;
      width: 960px;

      .form-item {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      tr {
        background-color: transparent;
        border: none;
      }

      th, td {
        font-size: 0.9em;
        font-family: $arial;
        font-weight: normal;
        border-right: 1px solid $grayLight;
        border-bottom: 1px solid #a2d6c9;
        padding: 5px;
        vertical-align: top;
      }

      th {
        @include gradient($white, #f8f8f8);
      }

      tr.odd td {
      }

      tr.even td {
      }

      td {

        p {
          margin: 0;
        }

        select {
          width: 200px;
        }

        .ajax-progress {
          display: block;
        }

        &:last-child {
          border-right: none;
        }
      }

      .question {
        padding-left: 0;
      }

      .question-dependent {
      }

      .question-number {
        font-size: 13px;
        font-weight: bold;
        margin-left: 0;
        float: none;
      }
    }
  }
}

.page-application { // !-- saving indicator

  .pgh-form-status-container {
    margin: 0 auto;
    width: 960px;
  }

  .pgh-form-status {
    color: $white;
    font-size: 12px;
    line-height: 27px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    background: #ffba4e url(../images/pgh-form/icon-page-saved.png) no-repeat 14px 5px;
    border: 1px solid #ffb043;
    @include border-radius(0 0 3px 3px);
    //@include box-shadow(0 1px 3px rgba(0,0,0,0.1));
    margin-bottom: -29px;
    padding-left: 40px;
    width: 130px;
    opacity: 0;
    @include transition(opacity 0.4s ease-in-out);
    float: right;

    &.saving {
      background-color: #29aa8b;
      background-image: url(../images/pgh-form/icon-page-saving.gif);
      border-color: #229f7e;
      opacity: 1;
    }

    &.saved {
      opacity: 1;
    }
  }
}


// !---------------------------- */
// !-- User profile ------------ */
// !---------------------------- */

.profile {

  h3 {
    border: none;
  }
}

#block-pgh-user-info-pgh-user-info { // green header background
  padding: 15px 10px 0 0;
  float: right;

  h2.block-title {
    @include element-invisible;
  }

  .user-picture-wrap {
    border-right: 1px solid #247c67;
    padding-right: 10px;
    float: left;
  }

  .user-picture {
    background: transparent url(../images/global/user-picture-bg.png) no-repeat center center;
    @include border-radius(50%);
    width: 72px;
    height: 72px;
    overflow: hidden;
  }

  .users-name {
    color: $white;
    font-size: 17px;
    line-height: 18px;
    margin: 5px 0 0 94px;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }
  }

  .users-employer {
    font-size: 12px;
    text-transform: uppercase;
  }


  .user-links {
    border: 1px solid #67a697;
    @include border-radius(2px);
    margin-top: 5px;
    height: 20px;
    float: left;

    a {
      color: $white;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 4px 7px 3px;
      float: left;

      &:hover {
        color: $white;
        background-color: #67a697;
      }
    }

    .edit-user a {}

    .logout-user a {
      border-left: 1px solid #67a697;
    }

    .dashboard-user a {
      border-left: 1px solid #67a697;
    }
  }
}

// login block
.custom-user-login.block {
  margin: 41px 0 0;
  float: right;

  p {
    border: 1px solid #67a697;
    @include border-radius(2px);
    margin: 0;
    height: 20px;

    a {
      color: $white;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 4px 7px 3px;
      float: left;

      &:hover {
        color: $white;
        background-color: #67a697;
      }

      &.user-login {
        border-right: 1px solid #67a697;
      }

      &.user-register {
      }
    }
  }
}

.page-user.not-logged-in .custom-user-login.block p {

  a.user-login {
    background-color: #67a697;
  }
}

.page-user-register.not-logged-in .custom-user-login.block p {

  a.user-login {
    background-color: transparent;
  }

  a.user-register {
    background-color: #67a697;
  }
}

form#user-login,
form#user-register-form,
form#user-pass {

  label {
    font-size: 0.8em;
  }

  input.form-text {
    border: 1px solid #d3d3d3;
    @include border-radius(2px);
    @include box-shadow(inset 0 0 8px rgba(0,0,0,0.05));
    padding: 7px;
  }

  input.form-submit {
    color: $white;
    font-size: 1em;
    font-family: $arial;
    font-weight: normal;
    text-align: center;
    background-color: $green;
    border: 1px solid $green;
    @include border-radius(3px);
    margin-right: 10px;
    padding: 7px 21px;
    width: auto;

    &:hover {
      background-color: $orange;
      border-color: $orange;
      @include box-shadow(inset 0 0 1px rgba(0,0,0,0.1));
    }
  }

  .description {
    font-size: 0.75em;
    line-height: 1.15em;
    width: 65%;
    padding-top: 7px;
  }
}


// profile page

.page-user {

  #content .profile {

    .user-picture {
      margin: 0;

      img {
        border: 5px solid $white;
        @include box-shadow(0 1px 5px rgba(0,0,0,0.14));
      }
    }

    .field-name-field-user-company,
    .field-name-field-user-title,
    .field-name-field-user-position-title,
    .field-name-field-user-department,
    .field-name-field-user-phone {
      padding-bottom: 14px;
      width: 40%;
      float: left;

      .field-label {
        color: $green;
        font-size: 12px;
        font-weight: normal;
        line-height: 15px;
      }
    }

    h3 {
      color: $green;
      font-size: 12px;
      font-weight: normal;
      line-height: 15px;
      margin-bottom: 0;
    }
  }
}

// edit profile

.page-user-edit {

  #block-pgh-user-info-pgh-user-info {

    .user-links .edit-user a {
      background-color: #67a697;
    }
  }

  #content {

    form#user-profile-form {

      label {
        font-size: 0.8em;
      }

      input.form-text {
        border: 1px solid #d3d3d3;
        @include border-radius(2px);
        @include box-shadow(inset 0 0 8px rgba(0,0,0,0.05));
        padding: 7px;
      }

      textarea {
        border: 1px solid #d3d3d3;
        @include border-radius(2px 2px 0 0);
        @include box-shadow(inset 0 0 8px rgba(0,0,0,0.05));
        padding: 5px;
      }

      .form-actions {
        padding-top: 3em;
        clear: left;
      }

      input.form-submit {
        color: $white;
        font-size: 1em;
        font-family: $arial;
        font-weight: normal;
        text-align: center;
        background-color: $green;
        border: 1px solid $green;
        @include border-radius(3px);
        margin-right: 10px;
        padding: 7px 21px;
        width: auto;

        &#edit-delete {
          background-color: #ea4539;
          border-color: #ea4539;
        }

        &:hover,
        &#edit-delete:hover {
          background-color: $orange;
          border-color: $orange;
          @include box-shadow(inset 0 0 1px rgba(0,0,0,0.1));
        }
      }

      select {
        font-size: 90%;
      }

      .description {
        font-size: 0.75em;
        line-height: 1.15em;
        width: 65%;
        padding-top: 7px;
      }

      .form-item-mail {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 0;
        padding-bottom: 1.4em;
      }

      #user_user_form_group_user_account_info {
        border-top: 4px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        clear: left;

        fieldset#edit-timezone {
          border: none;
          margin: 0;
          padding: 0;

          .form-item {
            border-top: 1px solid #e0e0e0;
            margin-top: 0;
            padding-top: 1.4em;
          }

          h3 {
            @include element-invisible;
          }
        }
      }

      #user_user_form_group_user_personal_info {
        border-right: 1px solid #e0e0e0;
        padding-right: 30px;
        padding-bottom: 30px;
        width: 449px;
        float: left;

        fieldset#edit-picture {
          border: none;
          border-top: 1px solid #e0e0e0;
          margin: 0;
          padding: 1.4em 0 0;

          h3 {
            @include element-invisible;
          }

          .form-item-files-picture-upload {
            margin: 0;
          }
        }
      }

      #user_user_form_group_user_company_ino {
        border-left: 1px solid #e0e0e0;
        margin-left: -1px;
        padding-left: 30px;
        padding-bottom: 30px;
        width: 450px;
        float: left;
      }
    }
  }
}


// !---------------------------- */
// !-- Node edit --------------- */
// !---------------------------- */

form.node-form {

  fieldset,
  fieldset.filter-wrapper {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }

  #edit-field-business-unit-type {
    border-bottom: 1px solid #e0e0e0;
  }

  label {
    font-size: 0.8em;
  }

  input.form-text {
    border: 1px solid #d3d3d3;
    @include border-radius(2px);
    @include box-shadow(inset 0 0 8px rgba(0,0,0,0.05));
    padding: 7px;
  }

  input.form-text.form-autocomplete {
    padding: 3px 7px;
  }

  textarea {
    border: 1px solid #d3d3d3;
    @include border-radius(2px 2px 0 0);
    @include box-shadow(inset 0 0 8px rgba(0,0,0,0.05));
    padding: 5px;
  }

  .filter-guidelines {
    font-size: 0.9em;
  }

  .form-actions {
    padding-top: 1em;
  }

  input.form-submit {
    color: $white;
    font-size: 1em;
    font-family: $arial;
    font-weight: normal;
    text-align: center;
    background-color: $green;
    border: 1px solid $green;
    @include border-radius(3px);
    margin-right: 10px;
    padding: 7px 21px;
    width: auto;

    &#edit-delete {
      background-color: #ea4539;
      border-color: #ea4539;
    }

    &:hover,
    &#edit-delete:hover {
      background-color: $orange;
      border-color: $orange;
      @include box-shadow(inset 0 0 1px rgba(0,0,0,0.1));
    }
  }

  select {
    font-size: 90%;
  }

  .field-multiple-table {
    width: 100%;

    tr, th, tbody, td {
      border: none;
    }

    tbody {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }

    tr.odd td {
      background-color: #f7f7f7;
    }

    td {
      padding: 7px;
    }
  }
}


// !---------------------------- */
// !-- Glossify ---------------- */
// !---------------------------- */

a.glossify-link {
  color: $green;
  background: transparent url(../images/global/icon-glossary.png) no-repeat right center;
  padding-right: 20px;
  cursor: help;
  position: relative;
  z-index: 99;

  &:hover {
    color: $green;
    text-decoration: none;

    .glossify-tooltip {
      padding-bottom: 20px;
      max-height: 45em;
      opacity: 1;
    }
  }

  .glossify-tooltip {
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    bottom: -10px;
    left: -5px;
    z-index: 1;
    @include transition(
      padding 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      max-height 0.3s ease-out
    );

    em {
      color: $green;
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
      background-color: #e4f7f2;
      border: 1px solid #3bbe9e;
      @include border-radius(3px);
      @include box-shadow(0 1px 7px rgba(0,0,0,0.1));
      display: block;
      padding: 10px;
      width: 240px;
      height: auto;
    }
  }
}


// !---------------------------- */
// !-- Admin  ------------------ */
// !---------------------------- */

//admin menu
body.admin-menu #admin-menu {
  border-bottom: none;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin: 0;
  padding: 0;
}

//tabs
a.tabs-primary__tab-link,
a.tabs-primary__tab-link.is-active,
a.tabs-secondary__tab-link,
a.tabs-secondary__tab-link.is-active {
  color: #656565;
  line-height: 2em;
  letter-spacing: 0;
  text-shadow: none;
}

a.tabs-primary__tab-link:active,
a.tabs-primary__tab-link.is-active {
  background-color: $white !important;
  background-image: none !important;
}
