// !---------------------------- */
// !--- Body ------------------- */
// !---------------------------- */

body {
  color: $grayDark;
  background-color: $green;
}

// !---------------------------- */
// !--- Typography ------------- */
// !---------------------------- */

h1 {
  color: $green;
  font-family: $cabin;
  font-size: 1.4em;
  font-weight: normal;
}

h2 {
  color: $green;
  font-family: $cabin;
  font-size: 1.2em;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

// !---------------------------- */
// !--- Header ----------------- */
// !---------------------------- */

#header-wrap {

  #header-wrap-inner {}
}

#header {
  padding: 18px 0;

  a#logo {
    text-indent: -1000000px;
    background: transparent url(../images/global/pgh-awards-logo.png) no-repeat 0 0;
    display: block;
    margin-left: 10px;
    width: 197px;
    height: 108px;
  }

  #name-and-slogan {
    color: $white;
    font-family: $cabin;
    font-size: 1.05em;
    padding: 43px 0 0 30px;
  }
}


// !---------------------------- */
// !--- Breadcrumbs ------------ */
// !---------------------------- */

#breadcrumb-wrap {
  background-color: $greenDark;
  border-top: 1px solid #00543f;

  #breadcrumb-wrap-inner {}

  ol {
    color: #c5e5dd;
    font-size: 12px;
    line-height: 55px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);

    li {

      a {
        color: $greenLight;
        text-decoration: none;
        background: transparent url(../images/global/crumb-arrow.png) no-repeat right center;
        padding-right: 32px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.node-type-application {

  #breadcrumb-wrap {
    background-color: $white;
    border-top: 1px solid #ededed;

    ol {
      color: #c3c3c3;
      text-shadow: none;

      li {

        a {
          color: #acacac;
          background-image: url(../images/global/crumb-arrow-app.png);
        }
      }
    }
  }
}


// !---------------------------- */
// !--- Main ------------------- */
// !---------------------------- */

#main-wrap {
  background-color: $white;

  #main-wrap-inner {}
}

#main {
  padding: 2em 0 3em;
}


// !---------------------------- */
// !--- Content ---------------- */
// !---------------------------- */

#content {}

#main-content {}


// !------------------------------ */
// !--- Work Group - dashboard --- */
// !------------------------------ */

.page-dashboard {

  h1 {
    line-height: 1em;
  }

  h2 {
    line-height: 1em;
    margin-top: 0;
  }

  .dashboard-label {
    color: $orange;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .edit-content a {
    color: $green;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #67a697;
    @include border-radius(2px);
    padding: 5px 14px 3px;
    float: right;

    &:hover {
      color: $white;
      background-color: $green;
      border-color: $green;
    }
  }

  #main {}
}

// !--------------------------------- */
// !--- Business unit - dashboard --- */
// !--------------------------------- */

#business-unit-wrap {
  background-color: $grayLight;
  border-top: 1px solid #eee;

  #business-unit-wrap-inner {}
}

#business-unit {

  .business-unit-block {
    background-color: $white;
    @include border-radius(2px);
    @include box-shadow(0 0 4px rgba(0,0,0,0.05));
    margin: 30px 0;
    padding: 5px 20px 5px 42px;
    @include clearfix;
    overflow: hidden;
    @include transition(max-height 0.5s ease-out);
    position: relative;
    z-index: 1;

    .toggle {
      text-indent: -1000000px;
      background: transparent url(../images/global/icon-toggle.png) no-repeat;
      display: block;
      padding: 28px 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 20px;
    }

    &.bu-closed {
      max-height: 170px;

      .toggle {
        background-position: 0 35px;

        &:hover {
          background-position: -48px 35px;
        }
      }
    }

    &.bu-opened {
      max-height: 60em;

      .toggle {
        background-position: -24px 35px;

        &:hover {
          background-position: -72px 35px;
        }
      }
    }
  }

  .field-name-field-business-unit-type {
    color: $orange;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .field-name-body {
    width: 740px;
  }
}

// !---------------------------- */
// !--- Work Group - ctype ----- */
// !---------------------------- */

.node-type-work-group {

}


// !---------------------------- */
// !--- Business unit ---------- */
// !--- Content type & dashboard -- */
// !---------------------------- */

#business-unit,
.node-type-business-unit {

  .info-block {
    font-size: 0.8em;
    font-weight: bold;

    div {
      display: inline;
    }

    .field-label {
      float: none;
    }

    .clearfix:after { //override
      clear: none;
      content: none;
      display: inline;
      height: auto;
      visibility: inherit;
    }

    .field-name-field-business-unit-type {
      border-right: 1px solid #d4d4d4;
      margin-right: 8px;
      padding-right: 10px;
    }

    .field-name-field-shipping-city {

      &:after {
        content: ",";
      }
    }

    .field-name-field-shipping-state {}

    .field-name-field-number-beds {
      border-left: 1px solid #d4d4d4;
      margin-left: 8px;
      padding-left: 10px;
    }

    .field-name-field-facility-users {
      border-left: 1px solid #d4d4d4;
      margin-left: 8px;
      padding-left: 10px;
    }
  }

  .billing-address,
  .shipping-address,
  .other-info {
    font-size: 0.9em;
    padding: 1em 0;
    width: 200px;
    float: left;

    p.label {
      color: $blue;
      font-size: 0.8em;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .billing-address {

    .field-name-field-billing-city,
    .field-name-field-billing-state,
    .field-name-field-billing-zipcode {
      display: inline;

      div {
        display: inline;
      }
    }

    .field-name-field-billing-city {

      &:after {
        content: ",";
      }
    }
  }

  .shipping-address {

    .field-name-field-shipping-city,
    .field-name-field-shipping-state,
    .field-name-field-shipping-zipcode {
      display: inline;

      div {
        display: inline;
      }
    }

    .field-name-field-shipping-city {

      &:after {
        content: ",";
      }
    }
  }
}


// !---------------------------- */
// !--- Appication ------------- */
// !---------------------------- */

.node-type-application {

  #header-wrap {
    background-color: $white;
  }

  #header {

    a#logo {
      background-image: url(../images/award-logos/practice-for-change.png);
    }
  }

  #loggedin-user-block {

    .user-picture-wrap {
      border: none;
    }

    .users-name {
      color: $green;
    }

    .edit-user a {
      color: $green;
      border-color: #67a697;

      &:hover {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
    }
  }
}


// !---------------------------- */
// !--- Footer ----------------- */
// !---------------------------- */

#footer-wrap {
  padding: 1em 0 6em;

  #footer-wrap-inner {}

  p {
    color: $greenLight;
    text-align: center;
    font-size: 0.7em;
  }
}


// !---------------------------- */
// !--- User profile ----------- */
// !---------------------------- */

.profile {

  h3 {
    border: none;
  }
}

#loggedin-user-block {
  padding: 15px 10px 0 0;
  float: right;

  .user-picture-wrap {
    border-right: 1px solid #247c67;
    padding-right: 10px;
    float: left;
  }

  .user-picture {
    background: transparent url(../images/global/user-picture-bg.png) no-repeat center center;
    @include border-radius(50%);
    width: 72px;
    height: 72px;
    overflow: hidden;
  }

  .edit-user a {
    color: $white;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #67a697;
    @include border-radius(2px);
    margin-top: 23px;
    padding: 5px 14px 3px;
    float: right;

    &:hover {
      color: $green;
      background-color: $white;
      border-color: $white;
    }
  }

  .users-name {
    color: $white;
    font-size: 17px;
    line-height: 18px;
    margin: 16px 94px 0;
  }

  .users-employer {
    font-size: 12px;
    text-transform: uppercase;
  }
}


// !---------------------------- */
// !--- Admin Menu ------------- */
// !---------------------------- */

body.admin-menu #admin-menu {
  border-bottom: none;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin: 0;
  padding: 0;
}